<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>RentApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>com.rentease.servlet.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_servlet</display-name>
    <servlet-name>Register_servlet</servlet-name>
    <servlet-class>com.rentease.servlet.Register_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_servlet</servlet-name>
    <url-pattern>/Register_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart_servlet</display-name>
    <servlet-name>Cart_servlet</servlet-name>
    <servlet-class>com.rentease.servlet.Cart_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart_servlet</servlet-name>
    <url-pattern>/Cart_servlet</url-pattern>
  </servlet-mapping>
</web-app>